pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/

*.swp

/public/out/
/public/client.js
/server.js
/public/repl-url
/.repl
/.nrepl-port
/node_modules

.DS_Store

/gif/

/config.json