@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: url('../font/OpenSans-Light.eot');
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../font/OpenSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../font/OpenSans.eot');
  src: local('Open Sans'), local('OpenSans'), url('../font/OpenSans.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../font/OpenSans-Semibold.eot');
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../font/OpenSans-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'visitor';
  font-style: normal;
  font-weight: normal;
  src: url("../font/visitor1.ttf") format("truetype");
}

// TODO: implement these
.serious-font() {

}

.fun-font() {

}

body {
  background-color: #111; // default
  font-family: 'visitor';
  letter-spacing: 2px;
}

.bg-color-c025c {
  background-attachment: fixed, scroll;
  background-image: url("/img/bg-pieces-color.png"), url("/img/bg-grey-tile.png");
  background-position: center bottom, 0 0;
  background-repeat: repeat-x, repeat;
  background-size: 306px 67.5px, 13.5px;
}

.bg-grey-e2019 {
  background-attachment: fixed, scroll;
  background-image: url("/img/bg-pieces-grey.png"), url("/img/bg-grey-tile.png");
  background-position: center bottom, 0 0;
  background-repeat: repeat-x, repeat;
  background-size: 306px 67.5px, 13.5px;
}

#appContainer {
  min-height: 800px;
}

.inner-6ae9d {
  margin: 30px auto;
  width: 800px;
}

//------------------------------------------------------------------------------
// Buttons
//------------------------------------------------------------------------------

.btn() {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  width: 184px;
}

.red-btn-2c9ab {
  .btn();
  background: url('/img/send_button.jpg') no-repeat;
  background-size: 179px auto;
  height: 92px;
  margin-top: 40px;
}

.blue-btn-41e23 {
  .btn();
  background: url('/img/battle_button.jpg') no-repeat;
  background-size: 179px auto;
  height: 92px;
  margin: 30px;
}

.green-btn-f67eb {
  .btn();
  background: url('/img/solo_button.jpg') no-repeat;
  background-size: 179px auto;
  height: 92px;
  margin: 30px;
}

//------------------------------------------------------------------------------
// Menu
//------------------------------------------------------------------------------

.logo-31d54 {
  background: url('/img/t3tr0s_logo_850w.png') no-repeat;
  background-size: 600px auto;
  width: 600px;
  height: 130px;
  margin: 100px auto 0 auto;
}

.menu-cd25d {
  margin: 70px auto;
  width: 500px;
}

//------------------------------------------------------------------------------
// Login
//------------------------------------------------------------------------------

.login-5983e {
  padding: 70px;
  font-size: 25px;
  text-align: center;
  color: #FFF;
  margin: 0 auto;
  width: 600px;
}

.input-4a3e3 {
  float: left;
  width: 400px;
}

.input-48f1f {
  margin: 16px;
  font-size: 50px;
  width: 300px;
  height: 50px;
  color: #111;
  background-color: #FFF;
  padding: 20px 15px;
}

//------------------------------------------------------------------------------
// MC
//------------------------------------------------------------------------------

.timeleft-69be1 {
  text-align: center;
  font-size: 64px;
  color: #fff;
}

.button-container-8e52e {
  button {
    float: left;
  }
}

.input-container-c8147 {
  .input-4a3e3 {
    width: 487px;
  }
}

//------------------------------------------------------------------------------
// Game
//------------------------------------------------------------------------------

#countdown {
  text-align: center;
  color: white;
  font-size: 120px;
}

.change-theme-6bd50 {
  color: #fff;
  font-size: 19px;
  padding-top: 45px;
}

@gameBodyWidth: 840px;

.player-view {
  width: @gameBodyWidth;
  margin: 0 auto;
}

.shadow-4f24e {
  .box-shadow(10px 10px 0px 0px rgba(66, 66, 66, 0.5));
}

.top-62e29 {
  margin: 0 auto;
  min-height: 43px;
  padding: 25px 0;
  width: @gameBodyWidth;

  img {
    margin-left: 68px;
  }
}

.wrap-3b65f {
  .shadow-4f24e;
  float: left;
  padding: 10px;
  background-color: #fff;
}

.right-1d870 {
  float: right;
  width: 460px;
  font-size: 35px;
}

.next-header {
  float: left;
  display: inline-block;
  margin: 40px 40px 0 0;
}

#next-canvas {
  vertical-align: top;
}

.game-stats {
  margin: 20px 0;
}

.scoreboard-d49ce {
  .shadow-4f24e;
  background-color: #fff;
  font-size: 24px;
  padding: 12px;
}

.time-left-1369c {
  margin-top: 20px;
}

.left-5c06b {
  float: left;
}

.right-6aa51 {
  float: right;
  margin-top: 30px;
  width: 280px;
}

.clr-22ff3 {
  clear: both;
}

#theme {
  color: white;
  font-size: 3em;
  text-align: center;
  padding-top: 60px;
}

#theme-details {
  font-size: 35px;
  color: white;
  text-align: center;
}

.next-df9e7 {
  margin-bottom: 12px;
}

.push-down-e2e2a {
  margin-bottom: 26px;
}

//------------------------------------------------------------------------------
// Chat
//------------------------------------------------------------------------------

.chat-logo-e38e3 {
  color: #FFF;
  font-size: 30px;
  border-bottom: 2px solid rgba(255,255,255,0.5);
  padding-bottom: 20px;
}

.span-4e536 {
  margin-left: 20px;
}

#chat {
  color: #FFF;
  position: absolute;
  bottom: 0;
  width: 700px;
  height:100%;
}

#chat-input {
  position: relative;
  bottom: 0px;
  width: 800px;
}

#chat-input > * {
  margin: 0;
  border: 0;
}

#msg {
  width: 500px;
  font-size: 30px;
  color: #111;
  padding: 20px 20px;
  height: 50px;
  margin: 16px;
}

#chat-and-player-container {
  height: 500px;
}

#chat-messages {
  overflow-y: scroll;
  height: 100%;
  width: 80%;
  position: relative;
  float: left;
  box-sizing: border-box;
}

#player-list-container {
  float: left;
  width: 20%;
  height: 100%;
  overflow-y: auto;
  border-left: 2px solid rgba(255,255,255,0.5);
  box-sizing: border-box;
}

.player-list-title-7f811 {
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  padding-left: 15px;
  padding-top: 7px;
  margin-bottom: 5px;
  font-size: 19px;
  font-weight: 600;
}

.player-name-3d2f0 {
  padding: 5px 15px;
  color: red;
}

#user {
  font-size: 1em;
}

.message {
  margin: 0;
  padding: 20px 0 20px 25px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  width: 100%;
  box-sizing: border-box;
}

.txt {
  font-size: 1em;
  color: #FFF;
}

.color-0 {
  color: #4680e3; /* blue */
}
.color-1 {
  color: #c64c57; /* red */
}
.color-2 {
  color: #acdc5a; /* green */
}
.color-3 {
  color: #f7d252; /* yellow */
}
.color-4 {
  color: #cc6fc4; /* purple */
}
.color-5 {
  color: #63d1fb; /* cyan */
}
.color-6 {
  color: #f5a03e; /* orange */
}

//------------------------------------------------------------------------------
// Game Over Score Board
//------------------------------------------------------------------------------

.table-9be14 {
  color: white;
  width: 100%;
}

.th-147ad {
  width: 20px;
}

.tr-cf247 {
  text-align: center;
  line-height: 30px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

//------------------------------------------------------------------------------
// Dashboard
//------------------------------------------------------------------------------

.wrapper-2ba66 {
  margin: 0 auto;
  width: 960px;
}

.hdr-93a4f {
  position: relative;
}

.hdr-btn() {
  cursor: pointer;
  font-size: 24px;
  padding: 20px;
  position: absolute;
  top: 0;
}

.game-6dc02 {
  .hdr-btn();
  background: #484848;
  color: #7a7a7a;
  right: 205px;
}

.dashboard-3a58e {
  .hdr-btn();
  background: #fff;
  color: #2b2b2b;
  right: 0px;
}

.logo-dd80d {
  margin: 30px 0;
}

.boards-4b797 {
  min-height: 600px;
  position: relative;
}

.place() {
  background: #fff;
  color: #1f1f1f;
  position: absolute;
  text-align: center;
  .rounded(100px);
}

.large-place-2288d {
  .place();
  font-size: 32px;
  padding: 12px;
  width: 30px;
}

.small-place-e1c91 {
  .place();
  font-size: 28px;
  padding: 8px;
  width: 26px;
}

.container-13c1f {
  position: absolute;
}

.canvas-b534a {
  border: 5px solid #fff;
  margin-top: 25px;
}

.large-name-2eee0 {
  color: #fff;
  font-size: 28px;
  max-width: 165px; // so names don't spill over
  overflow-x: hidden;
  padding: 14px 0 0 62px;
  text-align: left;
}

.small-name-ecd97 {
  color: #fff;
  font-size: 24px;
  max-width: 126px; // so names don't spill over
  overflow-x: hidden;
  padding: 10px 0 0 50px;
  text-align: left;
}

.score() {
  color: #fff;
  font-family: "Open Sans";
  font-weight: 600;
  text-align: right;
}

.large-score-a2b90 {
  .score();
  font-size: 28px;
  // NOTE: this needs to be kept in sync with
  //   client.dashboard.large-board-cell-size
  width: 160px;
}

.small-score-7d14a {
  .score();
  font-size: 24px;
  // NOTE: this needs to be kept in sync with
  //   client.dashboard.small-board-cell-size
  width: 130px;
}

.stats-2cda4 {
  .box-shadow(8px 8px 0px 0px rgba(88, 88, 88, 0.5));
  .box-sizing();
  background: #fff;
  height: 423px;
  padding: 25px;
  position: absolute;
  right: 0;
  top: 0px;
  width: 250px;
}

.label-39b9c {
  font-size: 22px;
  margin: 0 0 8px 0;
  padding: 0;
}

.line-8975a {
  background: #b0b0b0;
  height: 1px;
  padding: 0;
  margin: 10px 0;
}

.metric-b93a8 {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 8px 0;
  padding: 0;
}

.tbl-c8c6b {
  width: 100%;
}

.piece-fbcb9 {
  width: 48px;
  height: 45px;
  text-align: left;
}

.number-ca2a6 {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: right;
}

.spacer-67b8d {
  width: 20px;
}