@font-face {
  font-family: 'visitor1';
  src: url('visitor1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// ::-webkit-scrollbar {
  // background: transparent;
// }

body {
  background-color: #111;
  font-family: 'visitor1';
  letter-spacing: 2px;
  overflow: hidden;
  text-transform: uppercase;
}

.color-c025c {
  background-image: url("/img/t3tr0s_color_bg.png");
  background-repeat: repeat-x;
  background-position: bottom;
  background-attachment: fixed;
}

.bw-e2019 {
  background-image: url("/img/t3tr0s_bw_bg.png");
  background-repeat: repeat-x;
  background-position: bottom;
  background-attachment: fixed;
}

#main-container {
  min-height: 800px;
}

#inner-container {
  margin: 30px auto;
  width: 800px;
}

//------------------------------------------------------------------------------
// Buttons
//------------------------------------------------------------------------------

.lg-btn-container {
  width: 200px;
  margin: 0 auto;
  padding: 30px;
}

.red-btn-2c9ab {
  background: url('/img/send_button.jpg') no-repeat;
  background-size: 179px auto;
  font-size: 40px;
  width: 184px;
  height: 92px;
  margin-top: 40px;
  color: #FFF;
}

.blue-btn-41e23 {
  background: url('/img/battle_button.jpg') no-repeat;
  background-size: 179px auto;
  font-size: 40px;
  width: 184px;
  height: 92px;
  margin: 30px;
  color: #FFF;
}

.green-btn-f67eb {
  background: url('/img/solo_button.jpg') no-repeat;
  background-size: 179px auto;
  font-size: 40px;
  width: 184px;
  height: 92px;
  margin: 30px;
  color: #FFF;
}

//------------------------------------------------------------------------------
// Menu
//------------------------------------------------------------------------------

.logo-31d54 {
  background: url('/img/t3tr0s_logo_850w.png') no-repeat;
  background-size: 600px auto;
  width: 600px;
  height: 130px;
  margin: 100px auto 0 auto;
}

.menu-cd25d {
  margin: 70px auto;
  width: 500px;
}

//------------------------------------------------------------------------------
// Login
//------------------------------------------------------------------------------

.login-5983e {
  padding: 70px;
  font-size: 25px;
  text-align: center;
  color: #FFF;
  margin: 0 auto;
  width: 600px;
}

.input-4a3e3 {
  float: left;
  width: 400px;
}

.input-48f1f {
  margin: 16px;
  font-size: 50px;
  width: 300px;
  height: 50px;
  color: #111;
  background-color: #FFF;
  padding: 20px 15px;
}

//------------------------------------------------------------------------------
// MC
//------------------------------------------------------------------------------

.timeleft-69be1 {
  text-align: center;
  font-size: 64px;
  color: #fff;
}

//------------------------------------------------------------------------------
// Game
//------------------------------------------------------------------------------

#countdown {
  text-align: center;
  color: white;
  font-size: 120px;
}

.change-theme-6bd50 {
  color: #fff;
  font-size: 19px;
  padding-top: 45px;
}

@gameBodyWidth: 840px;

.player-view {
  width: @gameBodyWidth;
  margin: 0 auto;
}

.shadow-4f24e {
  .box-shadow(10px 10px 0px 0px rgba(66, 66, 66, 0.5));
}

.top-62e29 {
  margin: 0 auto;
  min-height: 43px;
  padding: 25px 0;
  width: @gameBodyWidth;

  img {
    margin-left: 68px;
  }
}

.wrap-3b65f {
  .shadow-4f24e;
  float: left;
  padding: 10px;
  background-color: #fff;
}

.right-1d870 {
  float: right;
  width: 460px;
  font-size: 35px;
}

.next-header {
  float: left;
  display: inline-block;
  margin: 40px 40px 0 0;
}

#next-canvas {
  vertical-align: top;
}

.game-stats {
  margin: 20px 0;
}

.scoreboard-d49ce {
  .shadow-4f24e;
  background-color: #fff;
  font-size: 24px;
  padding: 12px;
}

.left-5c06b {
  float: left;
}

.right-6aa51 {
  float: right;
  margin-top: 30px;
  width: 280px;
}

.clr-22ff3 {
  clear: both;
}

#theme {
  color: white;
  font-size: 3em;
  text-align: center;
  padding-top: 60px;
}

#theme-details {
  font-size: 35px;
  color: white;
  text-align: center;
}

.next-df9e7 {
  margin-bottom: 12px;
}

.push-down-e2e2a {
  margin-bottom: 26px;
}

//------------------------------------------------------------------------------
// Chat
//------------------------------------------------------------------------------

.chat-logo-e38e3 {
  color: #FFF;
  font-size: 30px;
  border-bottom: 2px solid rgba(255,255,255,0.5);
  padding-bottom: 20px;
}

.span-4e536 {
  margin-left: 20px;
}

#chat {
  color: #FFF;
  position: absolute;
  bottom: 0;
  width: 700px;
  height:100%;
}

#chat-input {
  position: relative;
  bottom: 0px;
  width: 800px;
}

#chat-input > * {
  margin: 0;
  border: 0;
}

#msg {
  width: 500px;
  font-size: 30px;
  color: #111;
  padding: 20px 20px;
  height: 50px;
  margin: 16px;
}

#chat-messages {
  overflow-y: scroll;
  height: 500px;
  position: relative;
}

#user {
  font-size: 1em;
}

.message {
  margin: 0;
  padding: 20px 0 20px 25px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  width: 100%;
  box-sizing: border-box;
}

.txt {
  font-size: 1em;
  color: #FFF;
}

.color-0 {
  color: #4680e3; /* blue */
}
.color-1 {
  color: #c64c57; /* red */
}
.color-2 {
  color: #acdc5a; /* green */
}
.color-3 {
  color: #f7d252; /* yellow */
}
.color-4 {
  color: #cc6fc4; /* purple */
}
.color-5 {
  color: #63d1fb; /* cyan */
}
.color-6 {
  color: #f5a03e; /* orange */
}

//------------------------------------------------------------------------------
// Dashboard
//------------------------------------------------------------------------------

@dashboardTotalWidth: 1200px;
@bigBoardWidth: (@dashboardTotalWidth / 4) - 1px;
@bigBoardPaddingRight: 120px;
@littleBoardWidth: 110px;
@bigBoardHeight: 40px;
@littleBoardTop: @bigBoardHeight + 40px;
@littleBoardHeight: 140px;
@littleBoardRightPadding: 11.5px;
@littleFontSize: 24px;
@bigNumberFontSize: 64px;

@rightSideVerticalSeparation: 120px;

@firstPlaceRed: #5388e4;
@secondPlaceBlue: #da656e;
@thirdPlaceGreen: #eccd59;
@littleNumberGreen: #a1d846;

.dashboard-0e330 {
  color: #fff;
  width: @dashboardTotalWidth;
  margin: 0 auto;
}

.header-d680b {
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
  width: @dashboardTotalWidth;
}

.title-d49ea {
  color: #fff;
  display: inline-block;
  font-size: 48px;
  margin: 0 0 0 24px;
  padding: 0;
  vertical-align: top;
}

.boards-ad07f {
  position: relative;
}

.board-a3a91 {
  position: absolute;
}

.board-a3a91.place-1 {
  left: 0px;
  top: 0px;
  width: @bigBoardWidth;
  .transition(0.1s);
}

.board-a3a91.place-2 {
  left: @bigBoardWidth;
  top: 0px;
  width: @bigBoardWidth;
  .transition(0.1s);
}

.board-a3a91.place-3 {
  left: (2 * @bigBoardWidth);
  top: 0px;
  width: @bigBoardWidth;
  .transition(0.1s);  
}

.board-a3a91.place-4 {
  left: (3 * @bigBoardWidth);
  top: 0px;
  .transition(0.1s);
}

.board-a3a91.place-5 {
  left: (3 * @bigBoardWidth);
  top: @rightSideVerticalSeparation;
  .transition(0.1s);
}

.board-a3a91.place-6 {
  left: (3 * @bigBoardWidth);
  top: (2 * @rightSideVerticalSeparation);
  .transition(0.1s);
}

.board-a3a91.place-7 {
  left: (3 * @bigBoardWidth);
  top: (3 * @rightSideVerticalSeparation);
  .transition(0.1s);
}

.board-a3a91.place-8 {
  left: (3 * @bigBoardWidth);
  top: (4 * @rightSideVerticalSeparation);
  .transition(0.1s);
}

.board-a3a91.place-9 {
  left: (3 * @bigBoardWidth);
  top: (5 * @rightSideVerticalSeparation);
  .transition(0.1s);
}

.board-a3a91.place-10 {
  left: (3 * @bigBoardWidth);
  top: (6 * @rightSideVerticalSeparation);
  .transition(0.1s);
}

//------------------------------------------------------------------------------
// Dashboard Numbers
//------------------------------------------------------------------------------

.num-2b782 {
  background-color: @littleNumberGreen;
  color: #000;
  font-size: 32px;
  left: (3 * @bigBoardWidth);
  position: absolute;
  height: 50px;
  width: 50px;

  sup {
    font-size: 16px;
    margin-top: 4px;
  }
}

.first-100e1, .second-e09e1, .third-deef68 {
  font-size: @bigNumberFontSize;
  height: 80px;
  top: 0px;
  width: 80px;

  sup {
    font-size: 24px;
    margin-top: 4px;
  }
}

.first-100e1 {
  background-color: @firstPlaceRed;
  left: 0px;
}

.second-e09e1 {
  background-color: @secondPlaceBlue;
  left: @bigBoardWidth;
}

.third-deef68 {
  background-color: @thirdPlaceGreen;
  left: (2 * @bigBoardWidth);
}

.fourth-a266b {
  top: 0px;
}

.fifth-96fe6 {
  top: @rightSideVerticalSeparation;
}

.sixth-fd905 {
  top: (2 * @rightSideVerticalSeparation);
}

.seventh-84a13 {
  top: (3 * @rightSideVerticalSeparation);
}

.eight-15b29 {
  top: (4 * @rightSideVerticalSeparation);
}

.ninth-780fc {
  top: (5 * @rightSideVerticalSeparation);
}

.tenth-34b19 {
  top: (6 * @rightSideVerticalSeparation);
}

.name-1d96a {
  font-size: 24px;
  margin: 14px 0 0 70px;
}

.score-5aeae {
  font-size: 34px;
  margin-top: 24px;
}

.canvas-ad036 {
  width: 100%;
  height: 100%;
}

.place-1 .name-1d96a, .place-2 .name-1d96a, .place-3 .name-1d96a {
  font-size: 42px;
  margin: 20px 0 0 100px;
}


//---------------- Game over score board -----------------//
.table-9be14 {
  color: white;
  width: 100%;
}

.th-147ad {
  width: 20px;
}

.tr-cf247 {
  text-align: center;
  line-height: 30px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}
