@font-face {
	font-family: 'VT323';
	src: url('VT323.woff') format("woff");
}

* {
	/*border: 1px solid red;*/
	font-family: 'VT323';
}

body {
	background-color: #111;
}

#main-container {
	width: 100%;
	height: 800px;
}

#inner-container {
	margin: 30px auto;
	width: 700px;
}

/*********** BUTTONS ***********/

.lg-btn-container {
	width: 200px;
	margin: 0 auto;
	padding: 30px;
}

.lg-btn {
	font-size: 40px;
	width: 200px;
	height: 75px;
}

/*********** MENU PAGE ***********/

.logo {
	margin: 50px 100px 0 100px;
}

/*********** LOGIN PAGE ***********/

.login {
	padding: 100px;
	font-size: 40px;
	text-align: center;
	color: #FFF;
}

.login-name {
	margin: 50px;
	font-size: 30px;
	width: 300px;
	height: 50px;
}

.login-container {
	margin: 0 auto;
	width: 400px;
}

/*********** GAME PAGE ***********/

#theme-options {
	color: white;
	font-size: 25px;
	padding-bottom: 15px;
}

.player-view {
	width:700px; 
	margin:0 auto;
}

#canvas-wrap {
	float: left;
	padding: 18px;
	background-color: #444;
}

.right-side {
	float: right;
	width: 280px;
	font-size: 35px;
}

.next-area {
	margin: 20px 0;
}

.next-header {
	float: left;
	display: inline-block;
	margin: 40px 40px 0 0;
}

#next-canvas {
  vertical-align: top;
}

.game-stats {
	margin: 20px 0;
}

#scoreboard {
	padding: 10px;
	background-color: #DDD;
}

#theme {
	color: white;
	font-size: 3em;
	text-align: center;
	padding-top: 70px;
}

#theme-details {
	font-size: 35px;
	color: white;
	text-align: center;
}

