@font-face {
	font-family: 'VT323';
	src: url('VT323.woff') format("woff");
}

* {
	/*border: 1px solid red;*/
	font-family: 'VT323';
}

body {
	background-color: #111;
}

#main-container {
	width: 100%;
}

#inner-container {
	margin: 30px auto;
	width: 700px;
}

/*********** BUTTONS ***********/

.lg-btn-container {
	width: 200px;
	margin: 0 auto;
	padding: 30px;
}

.lg-btn {
	font-size: 40px;
	width: 200px;
	height: 75px;
}

/*********** HOME PAGE ***********/

.logo {
	margin: 50px 100px 0 100px;
}

/*********** LOGIN PAGE ***********/

.login {
	padding: 100px;
	font-size: 40px;
	text-align: center;
	color: #FFF;
}

.login-name {
	margin: 50px;
	font-size: 30px;
	width: 300px;
	height: 50px;
}

.login-container {
	margin: 0 auto;
	width: 400px;
}

/*********** INDEX PAGE ***********/

#theme-options {
	width: 100px;
	position: absolute;
	left: 0px;
}

.player-view {
	width:700px; 
	margin:0 auto;
}

.next-area {
	margin: 20px 0;
}

.next-header {
	float: left;
	display: inline-block;
	margin: 40px 40px 0 0;
}

.game-stats {
	margin: 20px 0;
}

#canvas-wrap {
	float: left;
	padding: 32px;
	background-color: #444;
}

#next-canvas {
  vertical-align: top;
}

#scoreboard {
	padding: 10px;
	background-color: #DDD;
	float: right;
	width: 280px;
	font-size: 35px;
}